@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}
.cabecalho {
  padding: 2% 0 0 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-weight: 600;
  color:#22d4fd;
  text-decoration: none;
}

.apresentacao {
  padding: 8% 15%;
  display: flex;
  align-items:flex-start;
  justify-content:space-between;
}
.apresentacao__conteudo {
  width: 615px;

}
.apresentacao__conteudo__titulo {
  font-size: 30px;
  font-family: "krona one", sans-serif;
}
.titulo-destaque {
  color: #22d4fd;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  padding: 1em 0;
  font-family: "montserrat", sans-serif;
}
.apresentacao__conteudo__texto:hover {
  color: #22d4fd;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links__subtitulo {
  font-family: "krona one", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #22d4fd;
  width: 378px;
  height: 32px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6f6;
  font-family: "montserrat", sans-serif;
}

.apresentacao__links__link:hover {
  background-color: #272727;
  color: #22d4fd;
  font-size: 30px;
}

.apresentacao__links__icone {
  padding-right: 0.5em;
}
 

.apresentacao__perfil {
  width: 615px;
  height: 32px;
  
  
  
  
}
  .apresentacao__perfil-foto{
    width: 30vw;
    height: 40vh;
    padding: 5em 2em 0 5em;
    
    
  }
  

.rodape {
  color: #000000;
  background-color: #22d4fd;
  padding: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
